[submodule "api/gpt2detect"]
	path = api/gpt2detect
	url = https://github.com/AIT-brainlab/AI-Content-Detector.git
	branch = main
[submodule "api/thaigovai"]
	path = api/thaigovai
	url = https://github.com/AIT-brainlab/ThaiGovAI.git
	branch = main
[submodule "api/rwa"]
    path = api/rwa
	url = https://github.com/AIT-brainlab/ResearchAssistant_brainLab.git
    branch = frontend-v2
